/* * {
    border: 1px dotted red;
} */

.recordImageCard {
    width: 250px;
    height: 250px;
    /* margin-bottom: 5px; */
}

.recordImageCard img {
    background: transparent;
}

.create-order {
    background-color: rgb(63, 129, 107);
}
