/* * {
    border: 1px dotted red;
} */

/* .mt-5 { */
    /* background-color: rgb(208, 214, 219); */
    /* display: flex; */
    
   
/* } */

/* .mt-3 {
    width: 300px;
    height: 300px;
} */
/* Add this to your CSS file (orders.css) or a custom CSS file */
/* .recordImageCard img {
   mix-blend-mode: multiply;
} */
/* .color-card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.record-image {
    mix-blend-mode: multiply; 
   text-align: center;
} */