/* * {
    border: 1px dotted red;
} */

.home-about {
    font-family: cursive;
    font-weight:900;
    background-color:darkgrey;
    border-radius: 10px;
}
p {
    font-family: 'Roboto';
    font-size:large;
    color:color-mix(in srgb, color percentage, color percentage);
}